@import 'tachyons/tachyons.scss';
@import 'custom/extra.scss';

article {
    >:not(pre) {
        @extend #{'.ph4', '.mw7', '.center', '.db', '.near-black'};
    }

    :not(h1, h2, h3, h4, h5, h6) {
        @extend #{'.lh-copy'};
    }

    p,
    li {
        @extend #{'.serif'};
    }



    .filename {
        >div {
            @extend #{'.ph3', '.pv2', '.black', '.mt0', '.br--top', '.br--left', '.br2'};
        }

        @extend #{'.near-black', '.bg-near-white', '.br2', '.mw7', '.center', '.ma0', '.ph0', '.br--top', '.flex', '.ba', '.b--black-10'};
        position: relative;
        bottom: -3px;
    }

    pre {
        @extend #{'.pa4', '.br2', '.mw7', '.center', '.mt0', '.ba', '.b--black-10'};
        white-space: pre-wrap;
        font-size: 0.9rem;
    }

    code {
        @extend #{'.bg-near-white', '.pa1', '.br1', '.ba', '.b--black-05'};
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        position: relative;
    }

    >blockquote {
        @extend #{'.mw7', '.center', '.ph4', '.pv3', '.border-box', '.bg-near-white', '.bl', '.bw2', '.br2', '.f5'};
        border-color: $blue;

        &:before {
            @extend #{'.mr2', '.f3'};
            color: $blue;
            content: "◈";
            vertical-align: -0.1em;
        }

        p {
            display: inline;
        }
    }
}

p,
ul,
li {
    a {
        color: $blue;
        text-decoration: none;
        font-weight: normal;
    }
}