@import 'colors';

.animated-border {
    height: 4px;
    background: linear-gradient(90deg, #562D6A 0%, #AB3D6A 25%, #562D6A 50%, #AB3D6A 75%, #562D6A 100%);
    background-size: 200% 200%;
    animation: BorderAnimation 2s linear infinite;
    opacity: 0.3;
}

@keyframes BorderAnimation {
    0% {
        background-position: 0% 0%
    }

    100% {
        background-position: 100% 0%
    }
}

#slideout-menu {
    touch-action: none;
    display: fixed;
    bottom: 100000px;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
        height: 40px;
    }
    padding: 1rem;
    h3 {margin: 0;}
    a {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background: $background;
    margin: 0;
    a {text-decoration: none; }
}

a.button {
    background: $primary;
    font-weight: 700;
    padding: 0.5em 1em;
    border-radius: 1000px;
    color: $background;
    display: inline-block;
    &:hover {
        background: lighten($primary, 5);
    }
    &:active {
        background: lighten($primary, 10);
    }
}

a.tag {
    background: $background-low;
    font-weight: 600;
    padding: 0.1em 0.6em;
    border-radius: 1000px;
    color: $contrast-low;
    display: inline-block;
    border: 1px solid $border;
    font-size: 0.8rem;
    vertical-align: baseline;
    i{height: 0; svg{width:16px}}
    &:hover {
        background: darken($background-low, 5);
    }
    &:active {
        background: darken($background-low, 10);
    }
}

i{ 
    vertical-align: middle;
    svg {
        width: 24px;
    }
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

.container-full {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    
}

.hide-small {
    @media screen and (max-width: 700px) {
        display: none;
    }
}

hr {
    border: 1px solid $border;
    margin: 3em 0;
}

h1,h2,h3,h4,h5,h6,pre {
    margin: 0.2em 0;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.75rem; }

article {
    h1 { font-size: 2.5rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.2rem; }
    h5 { font-size: 0.8rem; }
    h6 { font-size: 0.6rem; }
}

article {
    pre {
        white-space: pre-wrap;
        word-break: break-word;
    }

    >blockquote {
        &:before {
            content: "◈";
            vertical-align: -0.1em;
        }
        p {
            display: inline;
        }
    }
}

p,
ul,
li {
    a {
        text-decoration: none;
        font-weight: normal;
    }
}

section {
     margin: 4em 0;
}

.crates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media screen and (max-width: 960px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (max-width: 720px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
    }
    h4 {
        margin: 0;
    }
    .crate {
        border-bottom: 1px $border solid;  
        border-right: 1px $border solid;  
        @media screen and ( min-width: 960px) {
            &:nth-child(4n), &:last-child {
                border-right: none;
            } 
            &:nth-child(-n+4) {
                border-top: 1px $border solid;
            }
        }
        @media screen and (max-width: 960px) and (min-width: 720px) {
            &:nth-child(3n), &:last-child {
                border-right: none;
            } 
            &:nth-child(-n+3) {
                border-top: 1px $border solid;
            }
        }
        @media screen and (max-width: 720px) and (min-width: 500px) {
            &:nth-child(2n), &:last-child {
                border-right: none;
            } 
            &:nth-child(-n+2) {
                border-top: 1px $border solid;
            }
        }
        @media screen and (max-width: 500px) {
            border: none;
            border-top: 1px $border solid;
        }
        display: flex;
        justify-content: space-between;
        padding: 1em;
        gap: 1em;
        .details {
            display: flex;
            gap: 0.5em;
            align-items: center;
        }
        p, pre {
            margin: 0;
        }
    }
}