{% extends "layout.html" %}
{% import "macros.html" as m %}

{% block content %}
    <div class="center mw7">
        <h1 class="w-100">{{ term.name }}</h1>
        <section>
            {% for article in term.pages %}
                <a href="{{ article.permalink }}" class="no-underline black mb4 db">
                    <article class="w-100 b--light-gray ba pv3 ph4 bg-white br1 grow">
                        <h2>{{ article.title }}</h2>
                        <div class="serif lh-copy">
                            {{ article.content | safe | striptags | truncate }}
                        </div>
                    </article>
                </a>
            {% endfor %}
        </section>
    </div>
{% endblock content %}