{% extends "layout.html" %}
{% import "macros.html" as m %}

{% block content %}

{# Header #}
<nav>
    <a href="/">{% if config.extra.logo %}
        <img src={{config.extra.logo}} />
        {% endif %}
        <h3>{{ config.title }}</h3>
    </a>
</nav>

{# About #}
<section class="container">
    <h2>About</h2>
    {# Get about page content from the `about.md` file in content #}
    {% set about = get_page(path="about.md") %}
    {{ about.content | safe }}
</section>

<section class="container">
    <h2>Community</h2>
    <div style="display: flex; align-items: center; ; gap: 1em;">
        <div style="display: flex; flex-direction: column;">
            <h3 style="margin: 0;">Discord</h3>
            <p>Join RustAudio on Discord to keep up with audio development within the Rust ecosystem, get help with
                DSP, collaborate on projects, and everything in-between.
                </br>
                <a class="button" style="margin-top: 1em" href={{config.extra.discord_invite}} target="_blank">Join
                    Discord</a>
            </p>

        </div>
        <a href={{config.extra.discord_invite}} class="hide-small" target="_blank">
            <img style="border-radius: 24px"
                src="https://discord.com/api/guilds/{{config.extra.discord_server_id}}/widget.png?style=banner3" />
        </a>
    </div>
</section>

<hr>

{# Resources #}
<section class="container">
    <h1>Resources</h1>

    <article>
        <h1>Audio plugin formats</h1>
        {% set formats = load_data(path="content/formats.toml") %}
        {% for format in formats.formats %}
        <h2>
            <pre>{{format.name}}</pre>
        </h2>

        <small>{% if format.proprietary %}Proprietary{% else %}Free & Open Source
            {% endif %}</small>

        <p>{{format.description}}</p>

        {% if format.resources %}
        <h3>Resources</h3>
        <ul>
            {% for resource in format.resources %}
            <a href={{resource.url}}>
                <li>{{resource.name}}</li>
            </a>
            {% endfor %}
        </ul>
        {% endif %}

        {% if format.crates %}
        <h3>Crates</h3>
        <ul>
            {% for crate in format.crates %}
            <a href={{crate.url}}>
                <li>{{crate.name}}</li>
            </a>
            {% endfor %}
        </ul>
        {% endif %}


        {% endfor %}
    </article>
    <hr>
    <article>
        <h1>DSP resources</h1>
        {% set resources = load_data(path="content/resources.toml") %}
        {% for group, resources in resources.resources | group_by(attribute="category") %}
        <h2>{{group | capitalize}}</h2>
        <ul>
            {% for resource in resources %}
            <a href={{resource.url}}>
                <li>{{resource.name}}</li>
            </a>
            {% endfor %}
        </ul>
        {% endfor %}
    </article>
</section>

<hr>

{# Crates #}

<section>
    <h2 class="container-full">RustAudio Crates</h2>
    <div class="crates">
        {% set crates = load_data(url=config.extra.repos_url, format="json") %}
        {% for crate in crates | sort(attribute="updated_at") | reverse %}
        <div class="crate">
            <a href={{crate.svn_url}}>
                <h4>
                    <pre>{{ crate.name }}</pre>
                </h4>
            </a>
            <div class="details">
                <div class="stars">{{ crate.stargazers_count }} ☆</div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}