{% extends "layout.html" %}
{% import "macros.html" as m %}

{% block content %}

{# Header #}
<nav>
    <a href="/">{% if config.extra.logo %}
        <img src={{config.extra.logo}} />
        {% endif %}
        <h3>{{ config.title }}</h3>
    </a>
</nav>

{# About #}
<section class="container">
    <h2>About</h2>
    {# Get about page content from the `about.md` file in content #}
    {% set about = get_page(path="about.md") %}
    {{ about.content | safe }}
</section>

<section class="container">
    <h3>Community</h3>
    <div style="display: flex; gap: 2em;">
        <div style="display: flex; flex-direction: column;">
            <h4 style="margin: 0;">Discord</h4>
            <p>Join Rust Audio on Discord to keep up with audio development within the Rust ecosystem, get help with
                DSP, collaborate on projects, and everything in-between.
                </br>
                <a class="button" style="margin-top: 1em" href={{config.extra.discord_invite}} target="_blank">Join
                    Discord</a>
            </p>
        </div>
        <a href={{config.extra.discord_invite}} class="hide-small" target="_blank">
            <img style="border-radius: 24px"
                src="https://discord.com/api/guilds/{{config.extra.discord_server_id}}/widget.png?style=banner3" />
        </a>
    </div>
    <hr>
    <h4 style="margin: 0;">Forums</h4>
    <p>Visit <a href="//rust-audio.discourse.group">the RustAudio forums</a> on Discourse</p>
</section>

<hr>

{# Crates #}


<section>
    <div class="container-full">
        <h2>Audio crates</h2>
        <div class="filters tags"></div>
    </div>
    <div class="crates" id="crates">
        {% set crates = load_data(path="content/crates.toml") %}
        {% for source, crates in crates.crates | group_by(attribute="source") %}

        {% for crate in crates %}

        {# Obtain API data #}
        {% if source == "github" %}
        {# Get github API page to pull information #}
        {% set data = load_data(url="https://api.github.com/repos/"~crate.key, format="json") %}
        {% set name = data.name %}
        {% set description = data.description %}
        {% set url = data.svn_url %}
        {# {% set keywords = data.topics %} #}

        {% elif source == "crates" %}
        {# Get crates API page to pull information #}
        {% set data = load_data(url="https://crates.io/api/v1/crates/"~crate.key, format="json") %}
        {% set name = data.crate.name %}
        {% set description = data.crate.description %}
        {% set url = "https://crates.io/crates/"~name %}
        {# {% set keywords = data.crate.keywords %} #}

        {% endif %}

        <div class='crate' data-keywords='{{ crate.tags | join(sep=" ") }}'>
            <a target=" _blank" href={{url}}>
                <h4>
                    <pre>{{ name }}</pre>
                </h4>
            </a>
            <p>{{ description }}</p>

            <div class="tags">
                {% for tag in crate.tags %}
                <span class="filter-tag tag" data-keyword={{tag}}>{{tag}}</span>
                {% endfor %}
            </div>
            {# <div class="details">
                <div class="stars">{{ crate.stargazers_count }} ☆</div>
            </div> #}
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    {# <div class="crates">
        {% set crates = load_data(url=config.extra.repos_url, format="json") %}
        {% for crate in crates | sort(attribute="updated_at") | reverse %}
        <div class="crate">
            <a target="_blank" href={{crate.svn_url}}>
                <h5>
                    <pre>{{ crate.name }}</pre>
                </h5>
            </a>
            <div class="details">
                <div class="stars">{{ crate.stargazers_count }} ☆</div>
            </div>
        </div>
        {% endfor %}
    </div> #}
</section>

<hr>

{# Resources #}
<section class="container">
    <h2>Resources</h2>

    <article>
        <h2>Audio plugin formats</h2>
        {% set formats = load_data(path="content/formats.toml") %}
        {% for format in formats.formats %}
        <h3 style="display: inline-block;">
            <pre>{{format.name}}</pre>
        </h3>


        <span style="vertical-align: text-bottom; margin-left: 0.5em;">
            {% if format.license.url %}<a target="_blank" class="license tag" href={{format.license.url}}>{% endif %}
                {{format.license.name}}
                {% if format.license.url %}➜
            </a>{% endif %}
        </span>

        <p>{{format.description}}</p>

        {% if format.resources %}
        <h4>Resources</h4>
        <ul>
            {% for resource in format.resources %}
            <a target="_blank" href={{resource.url}}>
                <li>{{resource.name}}</li>
            </a>
            {% endfor %}
        </ul>
        {% endif %}

        {% if format.crates %}
        <h4>Crates</h4>
        <ul>
            {% for crate in format.crates %}
            <a target="_blank" href={{crate.url}}>
                <li>{{crate.name}}</li>
            </a>
            {% endfor %}
        </ul>
        {% endif %}


        {% endfor %}
    </article>
    <hr>
    <article>
        <h1>DSP resources</h1>
        {% set resources = load_data(path="content/resources.toml") %}
        {% for group, resources in resources.resources | group_by(attribute="category") %}
        <h2>{{group | capitalize}}</h2>
        <ul>
            {% for resource in resources %}
            <a target="_blank" href={{resource.url}}>
                <li>{{resource.name}}</li>
            </a>
            {% endfor %}
        </ul>
        {% endfor %}
    </article>
</section>

<script>
    (function () {

        var element = document.querySelector("#crates");
        let tags = document.querySelectorAll(".filter-tag");
        var filter_element = document.querySelector(".filters");
        var filters = [];
        [].forEach.call(tags, function (tag) {
            filters.push(tag.dataset.keyword)
        });
        // Dedup
        filters = [...new Set(filters)].sort(function (a, b) {
            return a.localeCompare(b);
        });
        enabled_filters = []

        function build_filters() {
            filter_element.innerHTML = "";
            filters.forEach((filter) => {
                var filter_el = document.createElement("DIV");
                filter_el.classList.add("tag");
                filter_el.classList.add("filter-tag");
                filter_el.dataset.keyword = filter;
                filter_el.innerText = filter;
                filter_element.appendChild(filter_el);
            });
        }

        function filter_entries() {
            // Get all filterable elements
            let elements = document.querySelectorAll("#crates .crate");
            [].forEach.call(elements, function (el) {
                let keywords = el.dataset.keywords.split(" ");
                let is_active = keywords.some(r => enabled_filters.indexOf(r) >= 0);
                if (enabled_filters.length == 0) {
                    el.style.display = "block";
                } else {
                    if (!is_active) {
                        el.style.display = "none";
                    } else {
                        el.style.display = "block";
                    }
                }
            });
        }

        function toggle_filter(keyword) {
            let tags_with_keyword = document.querySelectorAll(`[data-keyword="${keyword}"]`);
            let index = enabled_filters.indexOf(keyword);
            if (index > -1) {
                console.log("toggling off tag");
                // exists, toggle off
                enabled_filters.splice(index, 1);
                [].forEach.call(tags_with_keyword, function (el) {
                    el.classList.remove("toggled");
                });
            } else {
                console.log("toggling on tag");
                // doesn't yet exist, push
                enabled_filters.push(keyword);
                // toggle style for all tags
                [].forEach.call(tags_with_keyword, function (el) {
                    el.classList.add("toggled");
                });
            }
            filter_entries();
        }

        build_filters();

        tags = document.querySelectorAll(".filter-tag");
        [].forEach.call(tags, function (tag) {
            tag.addEventListener("click", (ev) => {
                let keyword = tag.dataset.keyword;
                toggle_filter(keyword);
            });
        });

    })();
</script>

{% endblock content %}