{# An easy way to keep consistent links that work with the fixed header #}
{% macro hash_link(name) %}
    <div id="{{name}}" style="position: relative; top: -72px;"></div>
{% endmacro %}

{# Tachyons can be somewhat verbose, so a Button element isn't a bad choice. #}
{% macro button(href="#", title="Button", icon=false, color="blue") %}
    <a class="grow bg-{{ color }} white ttu tracked br2 no-underline flex items-center"
        style="font-weight: 600; padding: 12px 22px; font-size: 16px;" href="{{ href }}">
        <span class="db">
            {{ title }}
        </span>
        {% if icon %}
        <i class="ml1 db material-icons">
            {{ icon }}
        </i>
        {% endif %}
    </a>
{% endmacro %}

{# Display all articles belonging to a term #}
{% macro show_taxonomy_pages(term) %}
    {% for article in term.pages %}
        <a href="{{ article.permalink }}" class="no-underline black mb4 db">
            <article class="w-100 b--light-gray ba pv3 ph4 bg-white br1 grow">
                <h2>{{ article.title }}</h2>
                <div class="serif lh-copy">
                    {{ article.content | safe | striptags | truncate }}
                </div>
            </article>
        </a>
    {% endfor %}
{% endmacro %}

{% macro show_taxonomy_terms(taxonomy) %}
    <div class="flex flex-row-ns flex-column flex-wrap items-center">
        {# List and print all items in the `category` taxonomy #}
        {% set taxonomy_obj = get_taxonomy(kind=taxonomy) %}
        {% for term in taxonomy_obj.items %}
        <a class="db w-50-m w-100 w-third-l no-underline pb3 ph2"
            href="/{{taxonomy}}/{{ term.slug }}">
            <div class="bg-white b--light-gray ba f3-ns f4 shadow-3 black pa4-ns pa2 tc grow">
                <p>{{ term.name }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endmacro %}